.pagina-container {
  background-color: #c9b7a2;
  display: flex;
  width: 100%;
  height: 1200px;;
  font-family: 'Book Antiqua', sans-serif;
  font-size: 18px;
}

.contenido-izquierdo,
.contenido-derecho {
  background-image: url("Pagina.jpg");
  background-repeat: no-repeat; 
  background-size: cover; 
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.contenido-izquierdo {
  text-align:center;
}
.contenido-derecho {
  text-align: center;
}
